$marginJoke: 10px;

.my-jokes {

  &__mtb {
    margin: 20px 0;
  }

  &_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &_joke {
    width: calc((100% / 3) - (#{$marginJoke} * 2));
    padding: 5px;
    box-sizing: border-box;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px $marginJoke;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  &_joke:hover {
    background-color: #fafafa;
  }

}

@media screen and (max-width: 1200px) {
  .my-jokes {

    &_content{
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }

    &_joke {
      width: 90%;
      padding: 10px;
      min-height: 300px;

      p {
        font-size: 20px;
      }

    }
  }
}