.App {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
/*Reset style*/
button, button:focus, button:hover  {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: #ffffff;
  outline: none;
}
